<app-header titulo="Alert-Ion"></app-header>

<ion-content>
  <ion-content>
    <div>
      <ion-button color="success" 
      class="ios button button-block"
        (click)="presentAlert()">Alert</ion-button>
    </div>
    
    <div>
      <ion-button color="success" 
      class="ios button button-block"
        (click)="presentAlertMultipleButtons()">Alert Multiboton</ion-button>
    </div>
    <div>
      <ion-button color="success" 
      class="ios button button-block"
        (click)="presentAlertConfirm()">Confirmacion</ion-button>
    </div>
    <div>
      <ion-button color="success" 
      class="ios button button-block"
        (click)="presentAlertPrompt()">Alert Prompt</ion-button>
    </div>
    <div>
      <ion-button color="success" 
      class="ios button button-block"
        (click)="presentAlertRadio()">Alert Radio</ion-button>
    </div>
    <div>
      <ion-button color="success" 
      class="ios button button-block"
        (click)="presentAlertCheckbox()">Alert Checkbox</ion-button>
    </div>
    </ion-content>
  
</ion-content>
